.navbar-brand {
  font-size: 20px;
  padding-left: 50px;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-caption {
  text-align: right;
}

.carousel-caption.levo {
  text-align: left;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

img.logo {
  height: 130px;
  padding-top: 20px;
}

.row {
  margin-top: 30px;
}

.row.footer {
  margin-top: 0px;
}

.container-fluid.footer {
  margin-top: 50px;
  border-top: 1px solid #d8d8d8;
  background-color: #f1f1f1;
}
